<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>
</head>
<body>
<form onsubmit="createOffer(); return false;" accept-charset="UTF-8">
    <p>
        <input type="text" name="name" value="" id="name"
               placeholder="Username" required>
    </p>
    <p>
        <input type="text" name="room" value="" id="roomName"
               placeholder="Room" required>
    </p>
    <p class="submit">
        <input type="submit" name="commit" value="Join!">
    </p>
</form>
<h2 id="room-header"></h2>
<div id="video-grid"></div>
</body>
<script src="/static/js/group.js"></script>
</html>